<mat-card>
  <mat-card-title>
    <h2>Splitter contract user interface</h2>
  </mat-card-title>

  <mat-card-content>
    <form>

      <mat-form-field style="width: 35%;">
        <mat-select placeholder="Sender account" (change)="senderChanged()" [(ngModel)]="senderAccount" name="account">
          <mat-option *ngFor="let account of web3Service.accounts" [value]="account">
            {{ account }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="senderBalance" name="senderBalance" readonly="readonly" matInput placeholder="Balance (ether)" type="text">
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="amountToSend" name="amount" matInput placeholder="Amount to split (ether)" type="text">
      </mat-form-field>

      <br>

      <mat-form-field style="width: 35%;">
        <mat-select placeholder="Receiver1 account" (change)="receiver1Changed()" [(ngModel)]="receiver1Account" name="account">
          <mat-option *ngFor="let account of web3Service.accounts" [value]="account">
            {{ account }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="receiver1Balance" name="receiver1Balance" readonly="readonly" matInput placeholder="Balance (ether)"
          type="text">
      </mat-form-field>

      <br>

      <mat-form-field style="width: 35%;">
        <mat-select placeholder="Receiver2 account" (change)="receiver2Changed()" [(ngModel)]="receiver2Account" name="account">
          <mat-option *ngFor="let account of web3Service.accounts" [value]="account">
            {{ account }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="receiver2Balance" name="receiver2Balance" readonly="readonly" matInput placeholder="Balance (ether)"
          type="number">
      </mat-form-field>

      <br>
      <br>
      <button mat-button (click)="split()" mat-raised-button color="primary">Please split amount</button>
      <button mat-button (click)="refreshBalances()" mat-raised-button color="primary">Refresh accounts balance</button>
    </form>
  </mat-card-content>

  <mat-card-content>
    <mat-form-field style="width: 100%">
      <textarea [(ngModel)]="logMessage" name="logMessage" matInput placeholder="Messages"></textarea>
    </mat-form-field>

  </mat-card-content>
</mat-card>
